body{
  font-family: 'Open Sans', sans-serif;
  background-color: whitesmoke;
}

.jumbotron {
  margin-top: -50px;
  margin-bottom: 0px;
  height: 458px;
  text-align: center;
  padding-top: 150px; 
  color: white;
  background: linear-gradient(90deg, #0f729c, #216654, #6a57a9, #a73ea9, #a93e5b, #e56027, #e59227, #fcc425);
  background-size: 800% 800%;

  -webkit-animation: AnimationName 15s ease infinite;
  -moz-animation: AnimationName 15s ease infinite;
  animation: AnimationName 15s ease infinite;
}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

#replyHUB{
  padding-bottom: 35px;
}

.glyphicon-search {
  color: white; 
  font-size: 20px;
}

#icon-container {
  background-color: #2b2b2b;
}

#buffer {
  /* width: 16px; */
  height: 66px;
  background-color: #2b2b2b;
}

#icon-footer {
  height: 40px;
  background-color: #E76737;
  margin-bottom: 20px;
}

.form-control{
  padding:22px;
  border-radius: 50px;
}

.btn-secondary {
  padding:10px;
  border-radius: 50px;
}

#icons{
  background-color:#2b2b2b;
  margin-top: 0;
  text-align: center;
}

.iconImage{
  padding-top: 8px; 
}

#gifIcon{
  height:66px;
   /*width:154px; */
  background-color:#E76737; 
  display:inline-block;
 
}

#imageIcon{
  height:66px;
   /*width:154px; */
  background-color:#EAAF48; 
  display:inline-block;

}


#videoIcon{
  height:66px;
   /*width:154px; */
  background-color:#168793; 
  display:inline-block;
  
}

#tumblrIcon{
  height:66px;
  /* width:154px; */
  background-color:#E97A5D; 
  display:inline-block;

}
#wikiIcon{
  height:66px;
  background-color:#19AA67;
  display:inline-block;
}

.grid{
  text-align: center;
}

/*
#grid[data-columns]::before {
  content: '3 .column.size-1of3';
}
.column { float: left; }
.size-1of3 { width: 33.333%; }*/

.thumbnail{
  /*height:245px;*/
  display: inline-block;
  padding: 20px;
  margin-left: 20px;

}

.vid-wrap{
  display: inline-block;
}







